body{
    background-color:;
    margin: 0%;
}
.buttons{
    text-align: center;
    margin-top: 15%;
    width: 100%;
}
.heading{
    text-align: center;
    font-family: Gabriola,sans-serif;
    font-size: 4rem;
    margin-top: 0%;
    text-decoration: underline;
}
.color{
    background-color:#A1CCD1;
}
.botton-div{
    margin:45% 0%;
}
.button1{
    width: 150px;
    text-align: center;
    margin-top: 45%;
    height: 8vh;
    margin-left: 50px;
    border-radius: 30px;
    font-size: 1.3rem;
    background-color: gray;
    font-weight: bolder;
    font-family: Ubuntu;
 }
.button2{
    width: 150px;
    text-align: center;
    margin-top: 45%;
    height: 8vh;
    margin-left: 50px;
    border-radius: 30px;
    font-size: 1.3rem;
    background-color: gray;
    font-weight: bolder;
    font-family: Ubuntu;
 }
.button3{
    width: 150px;
    text-align: center;
    margin-top: 45%;
    height: 8vh;
    border-radius: 30px;
    font-size: 1.3rem;
    background-color: gray;
    font-weight: bolder;
    font-family: Ubuntu;
    margin-left: 10%;
 }

.button1:hover{
    color: white;
    background-color: black;
    transition: .4s;
    cursor: pointer;
}
.button2:hover{
    color: white;
    background-color: black;
    transition: .4s;
    cursor: pointer;
 }
.button3:hover{
    color: white;
    background-color: black;
    transition: .4s;
    cursor: pointer;
}
